.cities {
	display: flex; 
	flex-wrap: wrap; 
	margin-left: 125px;
}

.weatherData {
	width: 600px; 
	margin: 10px;
}

.sumarry {
	margin-left: 10px;
	display: inline-flex;
}

.summaryText {
	margin: 25px 0px 0px 10px;
	font-weight: bold;
}

.citiName {
	font-weight: 900;
}